[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = http://github.com/altercation/vim-colors-solarized
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/vim-scripts/fugitive.vim
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = http://github.com/vim-scripts/Command-T
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = http://github.com/vim-scripts/The-NERD-Commenter
[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/vim-scripts/surround.vim
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = http://github.com/hujunfeng/Vim-Latex
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = http://github.com/vim-scripts/bufexplorer.zip
[submodule "bundle/hexHighlight"]
	path = bundle/hexHighlight
	url = http://github.com/vim-scripts/hexHighlight.vim
[submodule "bundle/taskpaper"]
	path = bundle/taskpaper
	url = http://github.com/vim-scripts/taskpaper.vim
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = http://github.com/vim-scripts/unimpaired.vim
[submodule "bundle/zencoding"]
	path = bundle/zencoding
	url = http://github.com/vim-scripts/ZenCoding.vim
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = http://github.com/vim-scripts/delimitMate.vim
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = http://github.com/vim-scripts/Tagbar
[submodule "bundle/snipMate"]
	path = bundle/snipMate
	url = http://github.com/vim-scripts/snipMate
[submodule "bundle/syntax-gnuplot"]
	path = bundle/syntax-gnuplot
	url = http://github.com/vim-scripts/gnuplot.vim
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = http://github.com/plasticboy/vim-markdown
