[project]
	description = My Vim runtime environment
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Hu Junfeng (hujunfeng)
[access "refs/for/refs/*"]
	read = group user/Hu Junfeng (hujunfeng)
	push = group user/Hu Junfeng (hujunfeng)
	label-Code-Review = -2..+2 group user/Hu Junfeng (hujunfeng)
	label-Verified = -1..+1 group user/Hu Junfeng (hujunfeng)
	rebase = group user/Hu Junfeng (hujunfeng)
	removeReviewer = group user/Hu Junfeng (hujunfeng)
	submit = group user/Hu Junfeng (hujunfeng)
[access "refs/heads/*"]
	read = group user/Hu Junfeng (hujunfeng)
	create = group user/Hu Junfeng (hujunfeng)
	push = +force group user/Hu Junfeng (hujunfeng)
	pushMerge = group user/Hu Junfeng (hujunfeng)
[access "refs/tags/*"]
	push = +force group user/Hu Junfeng (hujunfeng)
	pushTag = group user/Hu Junfeng (hujunfeng)
	pushSignedTag = group user/Hu Junfeng (hujunfeng)
